<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/index.min.css")

  body
    header.header
      include templates/header.pug
    main.main
      section.search-bar
        include templates/search-bar.pug
      section.order-by
        include templates/order-by.pug
      section.results-count
        include templates/results-count.pug
      section.result-cards
        include templates/result-cards.pug

    script(src="js/bundle.min.js")