div.result-cards__card
  div.result-cards__thumbnail-wrapper
    img.result-cards__thumbnail(src="img/results/thumbnail.jpg")
  div.result-cards__text-wrapper
    h2.result-cards__title Temer assina lei que cria documento único de identidade
    p.result-cards__lide Apartamento está no centro do processo no qual ex-presidente foi ouvido ontem.
    p.result-cards__publish-time 07:22 - 05/04/2017
