div.result-cards__wrapper
  div.result-cards__card
    div.result-cards__thumbnail-wrapper
      img.result-cards__thumbnail
    div.result-cards__text-wrapper
      h3.result-cards__title
      p.result-cards__lide
      p.result-cards__publish-time
        span.result-cards__hour
        span.result-cards__date
