div.search-bar__wrapper
  form.search-form
    div.search-bar__input-wrapper
      div.search-bar__iput-field-wrapper
        div.search-bar__search-icon
        input.search-bar__input-form(type="text")
      select.search-bar__select
        option.search-bar__option(value='Todas' selected="selected") Todas
        option.search-bar__option.search-bar__option-news(value='Notícia') Noticias(0)
        option.search-bar__option.search-bar__option-photos(value='Foto') Fotos(0)
    button.search-bar__submit-btn(type='submit') Pesquisar
