@import 'base/normalize.scss'
@import 'base/reset.scss'

@import 'variables/colors.sass'
@import 'variables/dimensions.sass'

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

p, h1, h2, h3, ul, li, form, input, select
  padding: 0
  margin: 0
